@import "~antd/dist/antd.css";
/* @import url(../style/fonts/OpenSans-Bold.css); */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans"), local("OpenSans"),
    url("../style/fonts/OpenSans-Regular.ttf") format("truetype");
}

body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #f3f3f38a !important;
}
.modal-content {
  background-color: darkcyan;
}
.btn-link {
  color: white;
}
.modal-heading h2 {
  color: darkcyan;
}
.remember {
  font-weight: normal;
  font-size: 16px;
}
.forget_psw {
  float: right;
}
.text_align {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 10px;
}
.member {
  text-align: center;
  margin-bottom: 20px;
}
.iconstylelogin {
  margin-left: 10% !important;
  margin-bottom: 5% !important;
}
.iconstylelogin:hover {
  opacity: 0.8;
}
.iconstyle_1login {
  margin-bottom: 5% !important;
}
.iconstyle_1login:hover {
  opacity: 0.8;
}
.register {
  /* height: 30px !important; */
  text-align: center !important;
}
.alignment {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grid {
  display: grid;
}
.setPos_Model {
  margin-top: 25% !important;
  margin-bottom: 25% !important;
}
.errorMsg {
  color: #cc0000;
  float: right;
}
.Profile-errorMsg {
  color: #cc0000;
}
.inputBackground {
  background: #e2e2e2 !important;
  color: black !important;
}
#loginicon {
  margin-left: 5px;
}
#remeberRow {
  padding-bottom: 50px !important;
}
.App {
  text-align: center;
}
.backgroundImg {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  padding-bottom: 10px;
}
.innerBackground {
  background-image: url(../images/bg3.png);
  background-repeat: no-repeat;
  padding-bottom: 10px;
}
.LoginBackground {
  background-image: url(../images/bg2.png);
  background-repeat: no-repeat;
  padding-bottom: 10px;
}
.bg_imgpadding {
  padding-bottom: 322px !important;
}
#modal {
  margin-top: -135px;
  margin-bottom: 100px;
  min-height: 400px;
}
#my_companies_modal,
.marketingStyle {
  text-align: center;
  width: 100% !important;
}
#my_doc {
  width: 100%;
  margin-left: 0px !important;
  margin-top: 0px !important;
}
#my_doc p {
  color: #b7b0b0cf;
}
#my_companies_modal .modal-content .modal-body {
  border: dotted;
  border-color: #d8d8d894;
  padding-top: 30px !important;
}
.marketingStyle .modal-content .modal-body {
  border-color: #d8d8d894;
  padding-top: 15px !important;
  padding-left: 0px !important;
}

#addcompany #profile-popup {
  padding-left: 133px;
  padding-right: 143px;
}
.document_align {
  padding-left: 133px;
  padding-right: 143px;
}
#my_companies_modal .modal-content .modal-body form {
  display: grid;
}

#my_companies_modal .modal-content .modal-body form span {
  margin-top: 64px;
  color: #bfbbbbc7;
}
.QuestionModel {
  margin-top: -280px !important;
  width: 53% !important;
}

#my_profile_modal {
  margin-top: -110px;
  width: 78%;
}
#my_company_modal {
  margin-top: -230px;
  width: 78%;
}
#my_profile_modal h4,
#my_company_modal h4 {
  color: white;
}
.shareprofile {
  /* text-align: center; */
  color: #a3aab1;
}
.sharecompanyprofile {
  /* text-align: center; */
  color: #a3aab1;
}
.sharecompanyprofile #share {
  text-decoration: none;
  color: #a6a9ad;
}
.shareprofile #share {
  text-decoration: none;
  color: #a6a9ad;
}
.sharecompanyprofile #edit:hover,
.sharecompanyprofile #download:hover,
.sharecompanyprofile #documents:hover {
  opacity: 0.8;
}
.sharecompanyprofile #edit,
.sharecompanyprofile #download,
.sharecompanyprofile #documents {
  text-decoration: none;
  color: #a6a9ad;
}
.shareprofile #edit,
.shareprofile #download {
  text-decoration: none;
  color: #a6a9ad;
}
.sharecompanyprofile #edit,
.sharecompanyprofile #download,
.sharecompanyprofile #documents {
  text-decoration: none;
  color: #a6a9ad;
}
#dropdown_trade,
#dropdown_state {
  text-align: left;
  width: 100%;
  border-radius: 4px;
}

.title {
  padding-bottom: 10px;
  padding-top: 10px;
  display: inline-flex;
  padding-left: 42px;
}
.title a,
.col-md-2 a {
  display: -webkit-inline-box;
}
.navInverse {
  background-color: transparent !important;
  background-image: linear-gradient(
    to bottom,
    #3c3c3c00 0%,
    #2220 100%
  ) !important;
  border: none !important;
}
.btn_border {
  border-right: 1.5px solid rgba(187, 173, 173, 0.5) !important;
}
.btnAlign {
  background-image: url(../icons/Login/login.png);
  color: white !important;
  width: 194px;
  height: 33px;
  padding-right: 22px;
  font-weight: bold;
  outline: none;
  background-repeat: no-repeat;
  border: none;
  border-radius: 6px;
}
.dropdownColor {
  color: white !important;
}
.content_mg {
  margin-top: 20% !important;
  /* margin-left: 10% !important; */
  color: white !important;
}
.content_mg h1 {
  font-weight: bold !important;
  margin-bottom: 30px;
  font-size: 40px;
}
.content_mg h6 {
  font-size: 18px !important;
  color: #d6d2d2;
}
.linkclass {
  padding-top: 0px !important;
}
/* .logRegister {
  padding: 10px 30px !important;
} */
.btn_mng {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
  margin-bottom: 4% !important;
  margin-top: 3% !important;
  background-color: #2c91ef !important;
  opacity: 0.9;
  color: white !important;
  font-size: 19px !important;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff00),
    to(#265a8800)
  ) !important;
  background-image: -webkit-linear-gradient(
    top,
    #ffffff00 0%,
    #265a8800 100%
  ) !important;
  background-image: -o-linear-gradient(
    top,
    #ffffff00 0%,
    #265a8800 100%
  ) !important;
  background-image: linear-gradient(
    to bottom,
    #ffffff00 0%,
    #265a8800 100%
  ) !important;
}
.header_bg {
  background-color: antiquewhite !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
}
.midH2 {
  text-align: center !important;
  margin-bottom: 80px !important;
  margin-top: 50px !important;
  font-weight: bold;
  font-size: 25px;
  color: black;
}
.midimgBorder {
  border: none !important;
}
.midForm {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
  padding-left: 13% !important;
  padding-right: 13% !important;
  padding-top: 7% !important;
  padding-bottom: 5% !important;
  text-align: center !important;
}
.midContainer {
  background-color: #c0c3c345 !important;
}
.midImgWidth {
  width: 100% !important;
}
.midForm span {
  font-size: 24px;
  color: black;
}
.footerStyle {
  background-color: #237cdb !important;
  padding-left: 12% !important;
  padding-right: 10% !important;
  opacity: 0.8;
}
.footText {
  color: white !important;
}
.footerTitle {
  padding-top: 25% !important;
  font-size: 17px;
  font-weight: 800;
}
.footerTitle-M {
  padding-top: 40% !important;
  font-size: 17px;
  font-weight: 800;
}
.iconstyle {
  margin-left: 4% !important;
  margin-top: 5% !important;
  margin-bottom: 10% !important;
}
.iconstyle:hover {
  opacity: 0.8;
}
.iconstyle_1 {
  margin-top: 5% !important;
  margin-bottom: 10% !important;
}
.iconstyle_1:hover {
  opacity: 0.8;
}
#contactBtn {
  text-align: center;
  margin-bottom: 20px;
}
#btn_reset,
#btn_getpassword,
.btn_createCompany,
.btns_question {
  background-color: #237cdb !important;
  opacity: 0.9;
  border-radius: 4px;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
}

.btns_question {
  background-color: #1890ff;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 20%;
  margin-bottom: 7%;
  margin-left: 20%;
}
.btn_createCompany {
  background-color: #1890ff;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-left: 18%;
  padding-right: 18%;
  margin-top: 32px;
  margin-bottom: 7%;
}
.rowMargin {
  margin-bottom: 20px;
}
.rowMargin h2,
.rowMargin h4 {
  margin-top: 60px;
  margin-bottom: 13px;
  color: black;
  font-weight: bold;
}

#btn_reset:hover,
#btn_getpassword:hover,
.btn_createCompany:hover,
.btns_question:hover {
  background-color: #1278d6;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  font-size: 12px;
  transition: all 0.3s;
}
#delete {
  float: right;
}

.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.team-member {
  line-height: 1.5 !important;
  margin-top: 20px !important;
}
.memberBorder {
  border-bottom: groove;
  opacity: 0.3;
}
.navbar-Two-Icon {
  margin-right: 30px;
  width: 30px;
}
.navbar-Two-Icon:hover {
  opacity: 0.8;
}
#inner-navbar .container {
  width: 100% !important;
}
#dropdown_state .ant-select-selection,
#dropdown_trade .ant-select-selection {
  background: #e2e2e2 !important;
  color: black !important;
}
.logout {
  /* float: right; */
  display: inline-flex;
}
.headingStyle {
  color: black;
  font-weight: bold;
}
.logout a {
  padding-top: 28px;
  color: white;
  padding-right: 50px;
}
.col-md-2 div {
  display: -webkit-inline-box;
  padding-top: 37%;
  padding-bottom: 30px;
}
.ant-btn > .anticon + span,
.ant-btn > span + .anticon {
  margin-left: 0px !important;
}
.caption h4 {
  font-weight: bold;
  color: black;
}
.caption p {
  color: black;
}
.paddingfooter {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.inputfield-heading-color {
  color: gray;
}
.inputfield-heading-color-companyProfile {
  color: gray;
  font-weight: bold;
}
.ant-input-group-addon {
  background-color: #e2e2e2 !important;
}
/* .ant-select-selection-selected-value {
  color: gray;
} */
.ant-btn-primary {
  color: #fff;
  background-color: #0a80ec;
  border-color: #1890ff;
  opacity: 0.8;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
}
.has-error .ant-form-explain,
.has-error .ant-form-split {
  color: #f5222d;
  margin-left: 23px;
  margin-top: 5px;
}
.nav > li > a {
  padding: 20px 31px !important;
}
#logbutton {
  padding: 10px 30px !important;
}
.shareprofile {
  float: right;
}
.sharecompanyprofile {
  float: right;
}
#socialMediaBar {
  display: none;
}
.shareprofile #share {
  margin-right: 70px;
  display: grid;
}
.sharecompanyprofile #share {
  margin-right: 40px;
  display: grid;
}
.sharecompanyprofile #share:hover {
  opacity: 0.8;
}
.shareprofile #edit,
.shareprofile #download {
  margin-right: 70px;
  display: grid;
}
.shareprofile #edit:hover,
.shareprofile #download:hover,
.shareprofile #share:hover {
  opacity: 0.8;
}
.sharecompanyprofile #edit,
.sharecompanyprofile #download,
.sharecompanyprofile #documents {
  margin-right: 40px;
  display: grid;
}
#profile {
  z-index: -1;
  padding-left: 15px;
}
#compprofile {
  z-index: -1;
  padding-left: 15px;
}
#profile .row {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 15px;
  padding-right: 20px;
}
#compprofile .row {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 15px;
  padding-right: 20px;
}
.profileimg {
  text-align: center;
  bottom: 35px;
}
#profile .col-lg-10 {
  bottom: 35px;
}
#btn_profile {
  margin-top: 20px;
  margin-bottom: 20px;
}
.Companytitle {
  text-align: left;
  font-size: 19px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.Doctitle {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}
.companyTitleNum {
  position: absolute;
  font-size: 20px;
  color: white;
  font-weight: bold;
  bottom: -2px;
  left: 13px;
}
.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1da598;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
.rc-progress-line path {
  stroke-width: 2;
}
.companyheadingStyle {
  margin-left: 150px;
  font-weight: bold;
  font-size: 15px;
  color: black;
}
#slider {
  color: white;
  padding-bottom: 35px;
  left: -85px;
}
#slider span {
  color: #ccd2d8;
}
#slider h3 {
  font-weight: bold;
  font-size: 21px;
}
#slider img {
  padding-top: 12px;
}
.slider-border {
  border-right: 1.5px solid rgba(187, 173, 173, 0.5) !important;
  width: 95%;
}
.ant-progress-circle {
  width: 80px;
  height: 80px;
  font-size: 19px;
  font-weight: bold;
}
#complete_profile {
  font-size: 13px !important;
  color: #96989a !important;
}
.ant-progress-circle .ant-progress-text {
  width: 67%;
  top: 50%;
  left: 14px;
  font-size: 24px !important;
  color: white !important;
}
.ant-progress-circle .ant-progress-inner {
  width: 80px !important;
  height: 80px !important;
  background-color: #0d6fd4 !important;
}
#Emp_name,
#comp_name {
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

#Emp_position,
#comp_position,
#Emp_bio span,
#comp_bio span {
  color: black;
  font-size: 18px;
  font-family: "helvetica";
}
#comp_bio .col-sm-2 {
  /* text-align: right */
  display: grid;
  padding-top: 10px;
}
#Emp_email,
#comp_email {
  color: black;
  line-height: 2.5;
  font-size: 17px;
  opacity: 0.4;
  font-family: "helvetica";
}

#Emp_bio {
  font-size: 17px;
  padding-left: 0px;
  padding-bottom: 10px;
}
.ant-progress-circle-path {
  stroke: rgba(147, 206, 189, 0.54) !important;
}
.ant-progress-circle .ant-progress-inner {
  width: 80px;
  height: 80px;
}
#my_profile_modal .modal-content {
  z-index: 1;
}
#my_company_modal .modal-content {
  z-index: 1;
}
.addCompany_btn {
  padding-top: 16px;
  padding-left: 22px;
}

.compprofileimg,
#compprofile .col-lg-10 {
  bottom: 35px;
}
#uploadImage {
  margin-left: 25px;
  margin-top: 25px;
}

.QuestionModel .modal-body {
  padding: 0px !important;
}
.topBar {
  padding-top: 5%;
}
.topBar .ant-progress-outer {
  padding-right: 0px;
}
.topBar .ant-progress-inner {
  background-color: #a8badc38;
}
.topBar h4 {
  margin-top: 3px;
  float: right;
  color: #68a9fd;
}
.topBar a {
  color: #908c8c;
}
#saveBtn {
  text-align: center;
  padding-left: 0px;
}
.QuestionModel .ant-progress-text {
  display: none !important;
}
.questionheading {
  margin-left: 138px;
  margin-top: 31px;
  color: #5098d6;
}
.question {
  margin-left: 138px;
  color: black;
  font-size: 20px;
  padding-bottom: 3%;
}
#dropdownQuestion {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}
#detailedQuestion {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}
/* ---------------------------- */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  #inner-navbar .container {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .logout {
    float: right;
  }
  #addcompany #profile-popup {
    margin-right: 0px;
    margin-left: 0px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #inner-navbar .container {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .logout {
    float: right;
  }
  .Companytitle {
    font-size: 16px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #inner-navbar .container {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .logout {
    float: right;
  }
  .logout a {
    padding-top: 25px !important;
  }

  .navbar-Two-Icon {
    margin-right: 19px;
    width: 35px;
    height: 30px;
  }
  .nav > li > a {
    padding: 22px 20px !important;
  }
  .companyheadingStyle {
    margin-left: 116px;
  }

  #addcompany #profile-popup {
    padding-left: 99px;
    padding-right: 111px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .Doctitle {
    font-size: 14px;
  }
  .sliderMob {
    width: 30%;
  }
  #slider h3 {
    font-size: 23px;
  }
  #companyBar {
    margin-left: 6%;
  }

  .profileimg,
  .compprofileimg {
    padding-top: 50px;
  }
  #my_company_modal {
    margin-top: -323px;
  }
  #slider {
    left: -70px;
  }

  #my_profile_modal {
    width: 80%;
  }
  .QuestionModel {
    width: 65% !important;
  }
  .Companytitle {
    font-size: 18px;
  }
  .compprofileimg {
    text-align: center;
  }
  /* .questionheading {
    margin-left: 100px;
  }
  .question {
    margin-left: 100px;
  } */
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #inner-navbar .container {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .logout {
    float: right;
  }
  #my_profile_modal,
  .QuestionModel {
    width: 95% !important;
  }
  .Companytitle {
    font-size: 15px;
  }
  .compprofileimg {
    text-align: center;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  #inner-navbar .container {
    width: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .logout {
    float: right;
  }
  #my_profile_modal,
  #my_company_modal,
  .QuestionModel {
    width: 95% !important;
  }
  .Companytitle {
    font-size: 15px;
  }
  .profileimg,
  .compprofileimg {
    padding-top: 50px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .logout a {
    padding-top: 5px !important;
  }
  .title {
    padding-left: 0px;
  }
  .forget_psw {
    font-size: 12px;
  }
  .remember {
    font-size: 12px;
  }
  .backgroundImg {
    background-size: 2100px;
  }

  .shareprofile #share {
    margin-right: 20px;
  }
  .sharecompanyprofile #share {
    margin-right: 30px;
  }
  .shareprofile #edit,
  .shareprofile #download {
    margin-right: 40px;
  }
  .sharecompanyprofile #edit,
  .sharecompanyprofile #download,
  .sharecompanyprofile #documents {
    margin-right: 27px;
  }
  #profile,
  #compprofile {
    padding-left: 15px;
  }
  .profileimg {
    text-align: center;
    padding-top: 50px;
  }
  .compprofileimg {
    text-align: center;
  }
  .myprofilecontent {
    padding-left: 20px;
  }

  #my_companies_modal,
  .marketingStyle {
    width: 95% !important;
  }

  #addcompany #profile-popup {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  #my_company_modal {
    margin-top: -290px;
    width: 95%;
  }

  #my__modal {
    margin-left: 38px;
  }
  .companyheadingStyle {
    margin-left: 24px;
  }
  #my_doc {
    width: 85% !important;
    margin-left: 26px !important;
  }
  #slider h3 {
    font-size: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: bold;
  }
  #slider .ant-row {
    display: grid;
  }
  #companyBar {
    float: none;
    margin-top: 12pc;
  }
  #my_profile_modal,
  .QuestionModel {
    width: 95% !important;
  }
  .compprofileimg {
    margin-top: 50px !important;
  }
  #slider {
    left: 0px;
  }
  .footerTitle {
    padding-top: 15% !important;
  }
  .footerTitle-M {
    padding-top: 10% !important;
  }
  .col-md-2 div {
    padding-top: 10%;
  }
  .questionheading {
    margin-left: 80px;
  }
  .question {
    margin-left: 80px;
  }
}
